# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [98]:
import glob
import pandas as pd
import numpy as np

DATA_FOLDER = 'Data/' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [99]:

listConcat = []

ebolaFolder = DATA_FOLDER+"ebola/"
allFiles = glob.glob(DATA_FOLDER + "ebola/*")
for doc in allFiles:
    if (doc!= ".DS_Store") :
        country = doc.split("/")[-1].split("_")[0]
        allCsv = glob.glob(doc + "/*.csv")
        for file_ in allCsv:
            newCsv = pd.read_csv(file_)
            newCsv["Country"] = country
            listConcat.append(newCsv)

ebolaFrame = pd.concat(listConcat)
ebolaFrame

,34 Military Hospital,Beyla,Bo,Bo EMC,Boffa,Bombali,Bomi County,Bong County,Bonthe,Conakry,...,Totals,Unnamed: 18,Variable,Western area,Western area combined,Western area rural,Western area urban,Yomou,date,variable
0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,5,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,1,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,6,...,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,9,...,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,8,...,133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,78,...,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,23,NaN,NaN,NaN,NaN,95,...,495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,2,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,8,...,133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,32,...,228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,16,NaN,NaN,NaN,NaN,42,...,363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,21,...,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,10,...,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,11,...,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,20,...,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,34,...,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,48,...,161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,30,...,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,4,...,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,4,...,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,5,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,4,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,13,NaN,NaN,NaN,NaN,57,...,220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,38,...,277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,NaN,NaN,1,NaN,NaN,6,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,0,1,NaN,2014-12-13,cum_probable
8,NaN,NaN,297,NaN,NaN,907,NaN,NaN,4,NaN,...,NaN,NaN,NaN,NaN,NaN,937,1526,NaN,2014-12-13,cum_confirmed
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,death_suspected
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,death_probable
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,death_confirmed
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,cfr
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,etc_new_admission
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,etc_currently_admitted
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,etc_cum_admission
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,etc_new_deaths
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,etc_cum_deaths
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,etc_new_discharges
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,etc_cum_discharges
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,cum_contacts
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,cum_completed_contacts
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,contacts_followed
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,new_contacts
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,contacts_healthy
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,contacts_ill
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,contacts_not_seen
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,new_completed_contacts
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,percent_seen
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,total_lab_samples
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,repeat_samples
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,new_samples
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,new_positive
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,new_negative
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,pending
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,positive_corpse
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,negative_corpse

In [100]:
def guineaParseDate(a) :
    return a.split("-")[0]+"-"+a.split("-")[1]

gineaFrame = ebolaFrame[(ebolaFrame.Country == "guinea") & ((ebolaFrame.Description=="Total new cases registered so far") | (ebolaFrame.Description=="Total deaths (confirmed + probables + suspects)"))][["Date","Country","Totals"]]
gineaFrame["Totals"] = pd.to_numeric(gineaFrame["Totals"] )
gineaFrame = gineaFrame.groupby(["Date","Country"], as_index=False).sum()
gineaFrame["Date"] = gineaFrame["Date"].map(guineaParseDate)
gineaFrame = gineaFrame.groupby(["Date","Country"]).mean()

gineaFrame=gineaFrame.rename(columns={"Totals":"Mean"})
gineaFrame

                     Mean
Date    Country
2014-08 guinea   569.0000
2014-09 guinea   622.8125
2014-10 guinea   773.0000

In [101]:
def liberiaParseDate(a) :
    monthTry = a.split("/")[0]
    YearTry = a.split("/")[2]
    if (monthTry[0]=='0') :
        monthTry =  monthTry[1::]
    if (len(YearTry) < 4 ) :
        YearTry="20"+YearTry
    return monthTry +"/"+YearTry 

liberiaFrame = ebolaFrame[(ebolaFrame.Country == "liberia") & ((ebolaFrame.Variable=='Total death/s in confirmed, \n probable, suspected cases') 
                                                               |(ebolaFrame.Variable=='Total death/s in confirmed, probable, suspected cases') 
                                                               | (ebolaFrame.Variable=="New Case/s (Suspected)")
                                                              | (ebolaFrame.Variable=="New Case/s (Probable)")
                                                              | (ebolaFrame.Variable=="New case/s (confirmed)"))][["Date","Country","National"]]
liberiaFrame["National"] = pd.to_numeric(liberiaFrame["National"] )
liberiaFrame = liberiaFrame.groupby(["Date","Country"], as_index=False).sum()
liberiaFrame["Date"] = liberiaFrame["Date"].map(liberiaParseDate)
liberiaFrame = liberiaFrame.groupby(["Date","Country"]).mean()

liberiaFrame=liberiaFrame.rename(columns={"National":"Mean"})
liberiaFrame

                        Mean
Date    Country
10/2014 liberia  2349.680000
11/2014 liberia  2801.666667
12/2014 liberia  8388.444444
6/2014  liberia    37.714286
7/2014  liberia   103.000000
8/2014  liberia   555.333333
9/2014  liberia  1481.125000

In [102]:
slFrame = ebolaFrame[(ebolaFrame.Country == "sl") & ((ebolaFrame.variable.str.startswith('new_'))| (ebolaFrame.variable.str.startswith('death_')))][["date","Country","National"]]
slFrame["National"] = pd.to_numeric(slFrame["National"] )
slFrame = slFrame.groupby(["date","Country"], as_index=False).sum()
slFrame["date"] = slFrame["date"].map(guineaParseDate)
slFrame = slFrame.groupby(["date","Country"]).mean()



slFrame=slFrame.rename(columns={"date":"Date","National":"Mean"})

slFrame

                        Mean
date    Country
2014-08 sl        635.650000
2014-09 sl        922.517241
2014-10 sl       2047.035714
2014-11 sl       2426.421053
2014-12 sl       3255.000000

In [103]:
pd.concat([gineaFrame,liberiaFrame,slFrame])

                        Mean
Date    Country
2014-08 guinea    569.000000
2014-09 guinea    622.812500
2014-10 guinea    773.000000
10/2014 liberia  2349.680000
11/2014 liberia  2801.666667
12/2014 liberia  8388.444444
6/2014  liberia    37.714286
7/2014  liberia   103.000000
8/2014  liberia   555.333333
9/2014  liberia  1481.125000
2014-08 sl        635.650000
2014-09 sl        922.517241
2014-10 sl       2047.035714
2014-11 sl       2426.421053
2014-12 sl       3255.000000

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [104]:
listConcat = []

allFiles = glob.glob(DATA_FOLDER + "microbiome/MID*.xls")
for file_ in allFiles:    
    newCsv = pd.read_excel(file_, sheetname='Sheet 1', header=None)
    newCsv=newCsv.rename(columns={0:"name",1:file_.split("/")[-1].split(".")[0]})
    listConcat.append(newCsv)

RNAFrame = pd.concat(listConcat)
RNAFrame=RNAFrame.groupby("name").sum()

header = pd.read_excel(DATA_FOLDER + "microbiome/metadata.xls", sheetname='Sheet1', header=None)
headerArray = header.values
RNAFrame=RNAFrame.rename(columns={headerArray[1][0]:headerArray[1][1]  })
for i in range (2 , len(headerArray)) :
        RNAFrame=RNAFrame.rename(columns={headerArray[i][0]:headerArray[i][1] +" : " +str(headerArray[i][2]) })
RNAFrame=RNAFrame.fillna('unknown')


RNAFrame

,EXTRACTION CONTROL,NEC 1 : tissue,Control 1 : tissue,NEC 2 : tissue,Control 2 : tissue,NEC 1 : stool,Control 1 : stool,NEC 2 : stool,Control 2 : stool
name,,,,,,,,,
"Archaea ""Crenarchaeota"" Thermoprotei Acidilobales Acidilobaceae Acidilobus",unknown,2,1,unknown,5,unknown,unknown,unknown,unknown
"Archaea ""Crenarchaeota"" Thermoprotei Acidilobales Caldisphaeraceae Caldisphaera",unknown,14,15,unknown,26,unknown,1,unknown,1
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Desulfurococcaceae Ignisphaera",7,23,14,2,28,7,8,unknown,16
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Desulfurococcaceae Stetteria",unknown,unknown,unknown,unknown,1,unknown,unknown,unknown,unknown
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Desulfurococcaceae Sulfophobococcus",unknown,1,4,unknown,5,1,2,unknown,2
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Desulfurococcaceae Thermodiscus",unknown,unknown,1,unknown,unknown,unknown,unknown,unknown,unknown
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Desulfurococcaceae Thermosphaera",unknown,2,1,unknown,2,unknown,1,unknown,unknown
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Pyrodictiaceae Hyperthermus",unknown,1,unknown,unknown,unknown,unknown,unknown,unknown,unknown
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Pyrodictiaceae Pyrodictium",unknown,unknown,3,unknown,2,1,1,unknown,5
"Archaea ""Crenarchaeota"" Thermoprotei Desulfurococcales Pyrodictiaceae Pyrolobus",2,2,unknown,unknown,3,2,1,unknown,unknown
"Archaea ""Crenarchaeota"" Thermoprotei Sulfolobales Sulfolobaceae Stygiolobus",3,10,4,unknown,14,5,5,1,6
"Archaea ""Crenarchaeota"" Thermoprotei Sulfolobales Sulfolobaceae Sulfurisphaera",unknown,11,2,1,5,4,3,unknown,2
"Archaea ""Crenarchaeota"" Thermoprotei Thermoproteales Thermofilaceae Thermofilum",3,9,5,unknown,10,4,5,unknown,5
"Archaea ""Crenarchaeota"" Thermoprotei Thermoproteales Thermoproteaceae Caldivirga",unknown,5,3,unknown,18,1,unknown,unknown,3
"Archaea ""Crenarchaeota"" Thermoprotei Thermoproteales Thermoproteaceae Thermocladium",unknown,3,1,unknown,6,unknown,unknown,unknown,unknown
"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Methanocellales Methanocellaceae Methanocella",7,9,7,1,17,12,18,unknown,14
"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Methanomicrobiales Methanomicrobiaceae Methanomicrobium",unknown,1,4,unknown,7,2,unknown,unknown,1
"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Methanomicrobiales Methanomicrobiaceae Methanosphaerula",unknown,unknown,1,unknown,unknown,unknown,unknown,unknown,2
"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Methanomicrobiales Methanomicrobiales_incertae_sedis Methanolinea",unknown,unknown,unknown,unknown,1,unknown,1,unknown,1
"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Methanomicrobiales Methanospirillaceae Methanospirillum",unknown,unknown,unknown,unknown,unknown,unknown,1,unknown,unknown
"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Methanosarcinales Methanosarcinaceae Methanimicrococcus",1,12,2,unknown,11,1,2,unknown,6
"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Methanosarcinales Methanosarcinaceae Methanosalsum",unknown,unknown,1,unknown,2,1,unknown,unknown,unknown
"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Methanosarcinales Methermicoccaceae Methermicoccus",1,2,1,unknown,3,1,2,unknown,3
"Archaea ""Euryarchaeota"" Archaeoglobi Archaeoglobales Archaeoglobaceae Ferroglobus",1,4,unknown,1,8,4,9,unknown,3
"Archaea ""Euryarchaeota"" Archaeoglobi Archaeoglobales Archaeoglobaceae Geoglobus",1,unknown,unknown,unknown,1,unknown,2,unknown,3
"Archaea ""Euryarchaeota"" Halobacteria Halobacteriales Halobacteriaceae Haladaptatus",unknown,3,3,unknown,1,unknown,unknown,unknown,unknown
"Archaea ""Euryarchaeota"" Halobacteria Halobacteriales Halobacteriaceae Halogeometricum",unknown,1,1,unknown,1,unknown,unknown,unknown,unknown
"Archaea ""Euryarchaeota"" Halobacteria Halobacteriales Halobacteriaceae Halopiger",unknown,unknown,unknown,unknown,1,unknown,unknown,unknown,unknown
"Archaea ""Euryarchaeota"" Halobacteria Halobacteriales Halobacteriaceae Haloplanus",1,4,3,unknown,7,4,3,unknown,4
"Archaea ""Euryarchaeota"" Halobacteria Halobacteriales Halobacteriaceae Haloquadratum",4,3,2,unknown,1,unknown,unknown,unknown,1
...,...,...,...,...,...,...,...,...,...
"Bacteria ""Proteobacteria"" Gammaproteobacteria Xanthomonadales Xanthomonadaceae Rudaea",unknown,unknown,unknown,unknown,unknown,unknown,5,unknown,unknown
"Bacteria ""Proteobacteria"" Gammaproteobacteria Xanthomonadales Xanthomonadaceae Silanimonas",unknown,unknown,1,unknown,unknown,unknown,unknown,unknown,unknown
"Bacteria ""Proteobacteria"" Gammaproteobacteria Xanthomonadales Xanthomonadaceae Stenotrophomonas",unknown,unknown,unknown,unknown,unknown,unknown,80,unknown,unknown
"Bacteria ""Proteobacteria"" Gammaproteobacteria Xanthomonadales Xanthomonadaceae Wohlfahrtiimonas",unknown,unknown,1,unknown,unknown,unknown,unknown,unknown,unknown
"Bacteria ""Proteobacteria"" Gammaproteobacteria Xanthomonadales Xanthomonadaceae Xanthomonas",unknown,unknown,unknown,unknown,unknown,unknown,133,unknown,unknown
"Bacteria ""Proteobacteria"" Gammaproteobacteria Xanthomonadales Xanthomonadaceae Xylella",unknown,unknown,unknown,unknown,unknown,unknown,1,unknown,unknown
"Bacteria ""Spirochaetes"" Spirochaetes Spirochaetales Spirochaetales_incertae_sedis Exilispira",1,unknown,unknown,unknown,unknown,1,unknown,unknown,unknown
"Bacteria ""Synergistetes"" Synergistia Synergistales Synergistaceae Aminiphilus",2,2,2,1,5,2,1,unknown,unknown
"Bacteria ""Synergistetes"" Synergistia Synergistales Synergistaceae Aminomonas",1,2,3,1,5,unknown,8,unknown,3
"Bacteria ""Synergistetes"" Synergistia Synergistales Synergistaceae Thermovirga",1,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
"Bacteria ""Tenericutes"" Mollicutes Anaeroplasmatales Anaeroplasmataceae Asteroleplasma",unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,1
"Bacteria ""Tenericutes"" Mollicutes Haloplasmatales Haloplasmataceae Haloplasma",1,15,2,unknown,unknown,18,2,unknown,11
"Bacteria ""Thermodesulfobacteria"" Thermodesulfobacteria Thermodesulfobacteriales Thermodesulfobacteriaceae Caldimicrobium",1,1,unknown,unknown,1,1,1,unknown,1
"Bacteria ""Thermodesulfobacteria"" Thermodesulfobacteria Thermodesulfobacteriales Thermodesulfobacteriaceae Thermodesulfatator",unknown,3,1,unknown,1,2,3,1,1
"Bacteria ""Thermotogae"" Thermotogae Thermotogales Thermotogaceae Geotoga",7,15,12,13,26,12,15,4,43
"Bacteria ""Thermotogae"" Thermotogae Thermotogales Thermotogaceae Kosmotoga",9,22,7,4,36,11,16,2,16
"Bacteria ""Verrucomicrobia"" Opitutae Opitutales Opitutaceae Alterococcus",1,unknown,1,unknown,unknown,unknown,2,unknown,unknown
"Bacteria ""Verrucomicrobia"" Opitutae Opitutales Opitutaceae Opitutus",unknown,unknown,1,unknown,1,unknown,126,unknown,1
"Bacteria ""Verrucomicrobia"" Opitutae Puniceicoccales Puniceicoccaceae Cerasicoccus",unknown,unknown,1,unknown,2,unknown,39,unknown,unknown
"Bacteria ""Verrucomicrobia"" Opitutae Puniceicoccales Puniceicoccaceae Coraliomargarita",unknown,unknown,unknown,unknown,unknown,unknown,2,unknown,unknown
"Bacteria ""Verrucomicrobia"" Opitutae Puniceicoccales Puniceicoccaceae Puniceicoccus",unknown,unknown,2,unknown,4,unknown,unknown,unknown,unknown
"Bacteria ""Verrucomicrobia"" Subdivision3 Subdivision3_genera_incertae_sedis",unknown,unknown,unknown,unknown,unknown,unknown,4,unknown,unknown
"Bacteria ""Verrucomicrobia"" Verrucomicrobiae Verrucomicrobiales Verrucomicrobiaceae Persicirhabdus",unknown,unknown,2,unknown,unknown,1,9,unknown,unknown
"Bacteria ""Verrucomicrobia"" Verrucomicrobiae Verrucomicrobiales Verrucomicrobiaceae Verrucomicrobium",unknown,unknown,1,unknown,unknown,1,39,unknown,unknown
Bacteria Cyanobacteria Cyanobacteria Chloroplast Bangiophyceae,2,unknown,1,unknown,2,unknown,1,1,unknown
Bacteria Cyanobacteria Cyanobacteria Chloroplast Chlorarachniophyceae,85,1,4,6,5,unknown,2,4,1
Bacteria Cyanobacteria Cyanobacteria Chloroplast Streptophyta,1388,2,54,44,59,unknown,unknown,unknown,10
Bacteria OD1 OD1_genera_incertae_sedis,unknown,unknown,1,unknown,4,unknown,unknown,unknown,unknown
Bacteria OP11 OP11_genera_incertae_sedis,unknown,unknown,26,unknown,unknown,unknown,unknown,unknown,unknown
Bacteria TM7 TM7_genera_incertae_sedis,unknown,2,unknown,unknown,unknown,unknown,unknown,unknown,unknown

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here