 <span>

## Deadline
Wednesday October 25, 2017 at 11:59PM

## Important Notes
* Make sure you push on GitHub your Notebook with all the cells already evaluated (i.e., you don't want your colleagues to generate unnecessary Web traffic during the peer review)
* Don't forget to add a textual description of your thought process, the assumptions you made, and the solution you plan to implement!
* Please write all your comments in English, and use meaningful variable names in your code.

## Background
In this homework we will extract interesting information from www.topuniversities.com and www.timeshighereducation.com, two platforms that maintain a global ranking of worldwide universities. This ranking is not offered as a downloadable dataset, so you will have to find a way to scrape the information we need!
You are not allowed to download manually the entire ranking -- rather you have to understand how the server loads it in your browser. For this task, Postman with the Interceptor extension can help you greatly. We recommend that you watch this [brief tutorial](https://www.youtube.com/watch?v=jBjXVrS8nXs&list=PLM-7VG-sgbtD8qBnGeQM5nvlpqB_ktaLZ&autoplay=1) to understand quickly how to use it.

## Assignment
1. Obtain the 200 top-ranking universities in www.topuniversities.com ([ranking 2018](https://www.topuniversities.com/university-rankings/world-university-rankings/2018)). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the [details page](https://www.topuniversities.com/universities/ecole-polytechnique-fédérale-de-lausanne-epfl).
Store the resulting dataset in a pandas DataFrame and answer the following questions:
- Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
- Answer the previous question aggregating the data by (c) country and (d) region.

Plot your data using bar charts and describe briefly what you observed.

2. Obtain the 200 top-ranking universities in www.timeshighereducation.com ([ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking)). Repeat the analysis of the previous point and discuss briefly what you observed.

3. Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

4. Find useful insights in the data by performing an exploratory analysis. Can you find a strong correlation between any pair of variables in the dataset you just created? Example: when a university is strong in its international dimension, can you observe a consistency both for students and faculty members?

5. Can you find the best university taking in consideration both rankings? Explain your approach.

Hints:
- Keep your Notebook clean and don't print the verbose output of the requests if this does not add useful information for the reader.
- In case of tie, use the order defined in the webpage.

</span>

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

- Interceptor: txt database
- we take till rank 200 and not first 200 rows
- find vs findall
- NYU issue
- Indian Institute of Science (IISc) Bangalore issue
- json['data'][0].keys()

In [3]:
def find_div_and_number(soup, class_name):
    
    div = soup.find('div', class_= class_name)
    if div is not None:
        return div.find('div', class_='number').text.replace('\n', '').replace(',', '')
    else: return np.NaN
        

def parse_uni_details(url):
    page_body = requests.get('https://topuniversities.com' + uni['url']).text

    soup = BeautifulSoup(page_body, "html.parser")
    
    faculty_total = find_div_and_number(soup, 'total faculty')
    faculty_intl  = find_div_and_number(soup, 'inter faculty')
    student_total  = find_div_and_number(soup, 'total student')
    student_intl  = find_div_and_number(soup, 'total inter')
    
    return faculty_total, faculty_intl, student_total, student_intl

In [4]:
#ex1.1 
r = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508153509501')
json = r.json()

topuniversities = pd.DataFrame()

for (idx, uni) in enumerate(json['data']):
    
    if int(uni['rank_display'].replace('=','')) > 200:
        break
        
    faculty_total, faculty_intl, student_total, student_intl = parse_uni_details(uni['url'])
        
    entry = pd.DataFrame({'name': uni['title'], 'rank': uni['rank_display'].replace('=', ''), 'country': uni['country'],
                          'region': uni['region'], 'faculty_intl': faculty_intl, 'faculty_total': faculty_total,
                          'student_intl': student_intl, 'student_total': student_total}, index=[idx]) 
    topuniversities = topuniversities.append(entry)

# Rearrange columns order
topuniversities = topuniversities[['name', 'rank', 'country', 'region', 'faculty_intl', 'faculty_total', 'student_intl', 'student_total']]

# Change rank, faculty and student cols to numeric value
topuniversities[['rank','faculty_intl', 'faculty_total', 'student_intl', 'student_total']]\
    = topuniversities[['rank','faculty_intl', 'faculty_total', 'student_intl', 'student_total']].apply(pd.to_numeric)
    
# Serialization as a pickle file
topuniversities.to_pickle('pickled/topuniversities.pkl')
    
topuniversities.head()

,name,rank,country,region,faculty_intl,faculty_total,student_intl,student_total
0,Massachusetts Institute of Technology (MIT),1,United States,North America,1679.0,2982.0,3717.0,11067.0
1,Stanford University,2,United States,North America,2042.0,4285.0,3611.0,15878.0
2,Harvard University,3,United States,North America,1311.0,4350.0,5266.0,22429.0
3,California Institute of Technology (Caltech),4,United States,North America,350.0,953.0,647.0,2255.0
4,University of Cambridge,5,United Kingdom,Europe,2278.0,5490.0,6699.0,18770.0

In [5]:
topuniversities = pd.read_pickle('pickled/topuniversities.pkl')
topuniversities.head()

,name,rank,country,region,faculty_intl,faculty_total,student_intl,student_total
0,Massachusetts Institute of Technology (MIT),1,United States,North America,1679.0,2982.0,3717.0,11067.0
1,Stanford University,2,United States,North America,2042.0,4285.0,3611.0,15878.0
2,Harvard University,3,United States,North America,1311.0,4350.0,5266.0,22429.0
3,California Institute of Technology (Caltech),4,United States,North America,350.0,953.0,647.0,2255.0
4,University of Cambridge,5,United Kingdom,Europe,2278.0,5490.0,6699.0,18770.0

Only NYU and IISc Bangalore have NaN values:

In [6]:
topuniversities[topuniversities.isnull().any(1)]

,name,rank,country,region,faculty_intl,faculty_total,student_intl,student_total
51,New York University (NYU),52,United States,North America,NaN,NaN,NaN,NaN
189,Indian Institute of Science (IISc) Bangalore,190,India,Asia,NaN,423.0,47.0,4071.0

- Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?

In [7]:
#1.2 a
df_1a = topuniversities.loc[:,('name', 'rank', 'country', 'region', 'faculty_total', 'student_total')]
df_1a['ratio faculty/students'] = topuniversities.faculty_total / topuniversities.student_total
df_1a = df_1a.sort_values(['ratio faculty/students'], ascending= False)
df_1a[0:10]

,name,rank,country,region,faculty_total,student_total,ratio faculty/students
3,California Institute of Technology (Caltech),4,United States,North America,953.0,2255.0,0.422616
15,Yale University,16,United States,North America,4940.0,12402.0,0.398323
5,University of Oxford,6,United Kingdom,Europe,6750.0,19720.0,0.342292
4,University of Cambridge,5,United Kingdom,Europe,5490.0,18770.0,0.292488
16,Johns Hopkins University,17,United States,North America,4462.0,16146.0,0.276353
1,Stanford University,2,United States,North America,4285.0,15878.0,0.269870
0,Massachusetts Institute of Technology (MIT),1,United States,North America,2982.0,11067.0,0.269450
185,University of Rochester,186,United States,North America,2569.0,9636.0,0.266604
18,University of Pennsylvania,19,United States,North America,5499.0,20639.0,0.266437
17,Columbia University,18,United States,North America,6189.0,25045.0,0.247115

In [8]:
#1.2 b
df_1b = topuniversities.loc[:,('name', 'rank', 'country', 'region', 'student_intl', 'student_total')]
df_1b['ratio students_intl/students_total'] = topuniversities.student_intl / topuniversities.student_total
df_1b = df_1b.sort_values(['ratio students_intl/students_total'], ascending= False)
df_1b[0:10]

,name,rank,country,region,student_intl,student_total,ratio students_intl/students_total
34,London School of Economics and Political Scien...,35,United Kingdom,Europe,6748.0,9760.0,0.691393
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,5896.0,10343.0,0.570047
7,Imperial College London,8,United Kingdom,Europe,8746.0,16090.0,0.543567
198,Maastricht University,200,Netherlands,Europe,8234.0,16385.0,0.502533
46,Carnegie Mellon University,47,United States,North America,6385.0,13356.0,0.478062
6,UCL (University College London),7,United Kingdom,Europe,14854.0,31080.0,0.477928
91,University of St Andrews,92,United Kingdom,Europe,4030.0,8800.0,0.457955
41,The University of Melbourne,41,Australia,Oceania,18030.0,42182.0,0.427434
126,Queen Mary University of London,127,United Kingdom,Europe,6806.0,16135.0,0.421816
25,The University of Hong Kong,26,Hong Kong,Asia,8230.0,20214.0,0.407144

- Answer the previous question aggregating the data by (c) country and (d) region.

In [9]:
def getRatioSFBy (source, by ) :
    res = topuniversities.groupby(by,as_index=False).sum()
    res['ratio faculty/student'] = res['faculty_total']/res['student_total']
    return res[[by,'ratio faculty/student']].sort_values('ratio faculty/student',ascending=False).dropna()

In [10]:
def getRatioInterBy (source, by ) :
    res = topuniversities.groupby(by,as_index=False).sum()
    res['ratio international student'] = res['student_intl']/res['student_total']
    return res[[by,'ratio international student']].sort_values('ratio international student',ascending=False).dropna()

In [11]:
#1.3 c ratio between faculty members and students
dataex2cSF = getRatioSFBy(topuniversities,'country')
dataex2cSF

           country  ratio faculty/student
23          Russia               0.221910
8          Denmark               0.177261
24    Saudi Arabia               0.175828
25       Singapore               0.161530
18        Malaysia               0.153893
17           Japan               0.152479
27     South Korea               0.141721
30     Switzerland               0.140434
32  United Kingdom               0.136962
15          Israel               0.136047
0        Argentina               0.134267
12       Hong Kong               0.128948
33   United States               0.120811
7            China               0.115389
22          Norway               0.114996
10          France               0.113836
9          Finland               0.112885
19          Mexico               0.108779
5           Canada               0.104140
20     Netherlands               0.102651
29          Sweden               0.099939
11         Germany               0.097594
26    South Africa               0.088450
13           India               0.084248
28           Spain               0.084096
6            Chile               0.083694
31          Taiwan               0.083042
14         Ireland               0.081997
4           Brazil               0.081814
1        Australia               0.072962
3          Belgium               0.069924
21     New Zealand               0.068773
2          Austria               0.064890
16           Italy               0.046487

In [12]:
#1.3 c ratio of international students
dataex2cInter = getRatioInterBy(topuniversities,'country')
dataex2cInter

           country  ratio international student
1        Australia                     0.352189
32  United Kingdom                     0.341705
12       Hong Kong                     0.310751
2          Austria                     0.309980
30     Switzerland                     0.302396
25       Singapore                     0.276537
5           Canada                     0.260161
21     New Zealand                     0.258215
14         Ireland                     0.235299
20     Netherlands                     0.232980
0        Argentina                     0.221658
10          France                     0.194806
18        Malaysia                     0.194168
33   United States                     0.173047
29          Sweden                     0.170716
26    South Africa                     0.169703
23          Russia                     0.168624
11         Germany                     0.164833
24    Saudi Arabia                     0.163742
3          Belgium                     0.147853
8          Denmark                     0.141960
22          Norway                     0.126776
28           Spain                     0.124001
27     South Korea                     0.116177
7            China                     0.113748
16           Italy                     0.098726
31          Taiwan                     0.094152
9          Finland                     0.088671
17           Japan                     0.087363
15          Israel                     0.062549
6            Chile                     0.036700
4           Brazil                     0.033072
19          Mexico                     0.023082
13           India                     0.010501

In [13]:
#1.3 c ratio between faculty members and students
dataex2dSF = getRatioSFBy(topuniversities,'region')
dataex2dSF

          region  ratio faculty/student
1           Asia               0.132260
4  North America               0.117776
2         Europe               0.111564
3  Latin America               0.108657
0         Africa               0.088450
5        Oceania               0.072385

In [14]:
#1.3 d ratio of international students
dataex2dInter = getRatioInterBy(topuniversities,'region')
dataex2dInter

          region  ratio international student
5        Oceania                     0.339261
2         Europe                     0.229589
4  North America                     0.188906
0         Africa                     0.169703
1           Asia                     0.136431
3  Latin America                     0.087520

In [15]:
#ex2.1
r = requests.get('https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json')
json = r.json()
json['data'][0]

{'aliases': 'University of Oxford',
 'location': 'United Kingdom',
 'member_level': '0',
 'name': 'University of Oxford',
 'nid': 468,
 'rank': '1',
 'rank_order': '10',
 'record_type': 'master_account',
 'scores_citations': '99.1',
 'scores_citations_rank': '15',
 'scores_industry_income': '63.7',
 'scores_industry_income_rank': '169',
 'scores_international_outlook': '95.0',
 'scores_international_outlook_rank': '24',
 'scores_overall': '94.3',
 'scores_overall_rank': '10',
 'scores_research': '99.5',
 'scores_research_rank': '1',
 'scores_teaching': '86.7',
 'scores_teaching_rank': '5',
 'stats_female_male_ratio': '46 : 54',
 'stats_number_students': '20,409',
 'stats_pc_intl_students': '38%',
 'stats_student_staff_ratio': '11.2',
 'subjects_offered': 'Archaeology,Art, Performing Arts & Design,Biological Sciences,Business & Management,Chemical Engineering,Chemistry,Civil Engineering,Computer Science,Economics & Econometrics,Electrical & Electronic Engineering,General Engineering,Geography,Geology, Environmental, Earth & Marine Sciences,History, Philosophy & Theology,Languages, Literatures and Linguistics,Law,Mathematics & Statistics,Mechanical & Aerospace Engineering,Medicine & Dentistry,Physics & Astronomy,Psychology',
 'url': '/world-university-rankings/university-oxford'}

In [16]:
the = pd.DataFrame()

for (idx, uni) in enumerate(json['data']):
    
    if '201' in uni['rank']:
        break
                
    entry = pd.DataFrame({'name': uni['name'], 'rank': uni['rank'].replace('=', ''), 'country': uni['location'],\
                          'stats_student_staff_ratio': uni['stats_student_staff_ratio'],\
                          'stats_pc_intl_student': uni['stats_pc_intl_students'].replace('%', ''),\
                          'student_total': uni['stats_number_students'].replace(',', ''),\
                          'scores_international_outlook': uni['scores_international_outlook']}, index=[idx]) 
    the = the.append(entry)

# Rearrange columns order
the = the[['name', 'rank', 'country', 'stats_student_staff_ratio', 'stats_pc_intl_student', 'student_total', 'scores_international_outlook']]

# Change rank, faculty and student cols to numeric value
the[['rank','stats_student_staff_ratio', 'stats_pc_intl_student', 'student_total', 'scores_international_outlook']]\
    = the[['rank','stats_student_staff_ratio', 'stats_pc_intl_student', 'student_total', 'scores_international_outlook']].apply(pd.to_numeric)
    
# Serialization as a pickle file
the.to_pickle('pickled/the.pkl')
    
the.head()

,name,rank,country,stats_student_staff_ratio,stats_pc_intl_student,student_total,scores_international_outlook
0,University of Oxford,1,United Kingdom,11.2,38,20409,95.0
1,University of Cambridge,2,United Kingdom,10.9,35,18389,93.0
2,California Institute of Technology,3,United States,6.5,27,2209,59.7
3,Stanford University,3,United States,7.5,22,15845,77.6
4,Massachusetts Institute of Technology,5,United States,8.7,34,11177,87.6

In [17]:
the = pd.read_pickle('pickled/the.pkl')
the.head()

,name,rank,country,stats_student_staff_ratio,stats_pc_intl_student,student_total,scores_international_outlook
0,University of Oxford,1,United Kingdom,11.2,38,20409,95.0
1,University of Cambridge,2,United Kingdom,10.9,35,18389,93.0
2,California Institute of Technology,3,United States,6.5,27,2209,59.7
3,Stanford University,3,United States,7.5,22,15845,77.6
4,Massachusetts Institute of Technology,5,United States,8.7,34,11177,87.6

No entries has NaN values:

In [18]:
the.isnull().any(1).sum()

0

In [19]:
#2.1 (a)  ratio between faculty members and students THE
the[['name','rank','stats_student_staff_ratio']].sort_values(['stats_student_staff_ratio'], ascending= False)

,name,rank,stats_student_staff_ratio
99,University of Bonn,100,77.9
124,University of Mannheim,125,74.5
91,Technical University of Berlin,92,64.3
163,University of Erlangen-Nuremberg,162,58.5
78,RWTH Aachen University,79,57.7
87,Free University of Berlin,88,57.0
61,Humboldt University of Berlin,62,56.5
40,Technical University of Munich,41,54.4
144,University of Cologne,145,50.9
174,Université Libre de Bruxelles,175,43.4
173,University of Münster,173,42.6
81,University of Freiburg,82,40.3
93,University of Tübingen,94,38.5
128,Université Catholique de Louvain,129,37.8
46,KU Leuven,47,37.1
106,Ghent University,107,35.9
155,TU Dresden,155,35.9
64,University of Queensland,65,35.7
133,University of Adelaide,134,34.3
166,University of Würzburg,165,33.9
80,Monash University,80,33.7
195,Paris-Sorbonne University – Paris 4,196,30.2
156,Ulm University,155,28.4
52,"University of California, Santa Barbara",53,28.1
112,University of Göttingen,113,27.9
182,Hong Kong Polytechnic University,182,26.9
84,University of New South Wales,85,26.7
31,University of Melbourne,32,26.6
132,Karlsruhe Institute of Technology,133,26.3
134,Stockholm University,134,24.9
...,...,...,...
73,Kyoto University,74,8.7
20,University of Michigan,21,8.6
122,Georgetown University,123,8.6
69,Boston University,70,8.6
181,École Normale Supérieure de Lyon,182,8.5
6,Princeton University,7,8.3
131,University of Science and Technology of China,132,8.2
50,Washington University in St Louis,50,7.5
3,Stanford University,3,7.5
193,Lomonosov Moscow State University,194,7.3
157,Case Western Reserve University,158,7.1
45,University of Tokyo,46,6.7
88,Dartmouth College,89,6.6
10,University of Pennsylvania,10,6.5
2,California Institute of Technology,3,6.5
8,University of Chicago,9,6.2
13,Columbia University,14,6.1
152,Technical University of Denmark,153,6.0
135,University of Zurich,136,5.9
185,University of Miami,186,5.9
101,University of Pittsburgh,100,5.9
183,Scuola Normale Superiore di Pisa,184,5.2
114,École Polytechnique,115,5.1
16,Duke University,17,4.5
97,Emory University,98,4.4
11,Yale University,12,4.3
12,Johns Hopkins University,13,4.3
153,University of Rochester,153,4.3
109,University of Copenhagen,109,4.1
105,Vanderbilt University,105,3.3

In [20]:
#2.1 (b) ratio of international students
the[['name','rank','stats_pc_intl_student']].sort_values(['stats_pc_intl_student'], ascending= False)

,name,rank,stats_pc_intl_student
24,London School of Economics and Political Science,25,71
178,University of Luxembourg,179,57
37,École Polytechnique Fédérale de Lausanne,38,55
7,Imperial College London,8,55
102,Maastricht University,103,50
15,University College London,16,49
143,University of St Andrews,143,48
23,Carnegie Mellon University,24,45
120,Queen Mary University of London,121,45
39,University of Hong Kong,40,42
35,King’s College London,36,41
26,University of Edinburgh,27,40
31,University of Melbourne,32,40
196,"Royal Holloway, University of London",197,40
130,University of Geneva,130,40
90,University of Warwick,91,39
0,University of Oxford,1,38
54,University of Manchester,54,38
9,ETH Zurich – Swiss Federal Institute of Techno...,10,38
158,University of Leicester,159,38
148,University of Sussex,147,38
149,Lancaster University,150,38
184,University of Aberdeen,185,36
103,University of Sheffield,104,36
114,École Polytechnique,115,36
79,University of Glasgow,80,36
1,University of Cambridge,2,35
119,City University of Hong Kong,119,35
47,Australian National University,48,35
176,University of Liverpool,177,35
...,...,...,...
168,Nanjing University,169,10
144,University of Cologne,145,10
45,University of Tokyo,46,10
48,University of Texas at Austin,49,10
53,"University of California, Davis",54,10
68,"University of Maryland, College Park",69,10
101,University of Pittsburgh,100,10
106,Ghent University,107,10
115,Fudan University,116,10
159,Texas A&M University,159,9
160,University of Arizona,161,9
29,Tsinghua University,30,9
166,University of Würzburg,165,9
142,University of Florida,143,9
95,Korea Advanced Institute of Science and Techno...,95,9
73,Kyoto University,74,8
56,University of North Carolina at Chapel Hill,56,8
134,Stockholm University,134,8
199,National Taiwan University,198,8
183,Scuola Normale Superiore di Pisa,184,7
67,Utrecht University,68,7
165,Vrije Universiteit Amsterdam,165,7
173,University of Münster,173,7
167,University of Alabama at Birmingham,168,6
177,Zhejiang University,177,6
188,Shanghai Jiao Tong University,188,6
89,University of Helsinki,90,6
161,"University of California, Santa Cruz",162,4
136,Pohang University of Science and Technology,137,4
131,University of Science and Technology of China,132,3

In [21]:
# 2.1  (c)  ratio between faculty members and students by country THE 
theRatioFSCount = the[['name','country','stats_student_staff_ratio']].groupby('country',as_index=False).mean().sort_values(['stats_student_staff_ratio'], ascending= False)
theRatioFSCount

               country  stats_student_staff_ratio
8              Germany                  44.025000
2              Belgium                  38.550000
0            Australia                  27.462500
10             Ireland                  22.800000
1              Austria                  20.800000
3               Canada                  19.716667
9            Hong Kong                  19.300000
15         New Zealand                  18.800000
16              Norway                  18.600000
14         Netherlands                  18.330769
6              Finland                  18.200000
21               Spain                  16.850000
18           Singapore                  16.650000
22              Sweden                  15.200000
13          Luxembourg                  14.600000
25      United Kingdom                  13.661290
23         Switzerland                  13.514286
7               France                  13.450000
20         South Korea                  13.300000
4                China                  11.942857
26       United States                  11.904839
19        South Africa                  11.700000
24              Taiwan                  11.500000
11               Italy                   8.450000
5              Denmark                   8.133333
12               Japan                   7.700000
17  Russian Federation                   7.300000

In [22]:
# 2.1  (c) ratio of international students by country   THE
theRatioInterCount = the[['name','country','stats_pc_intl_student']].groupby('country',as_index=False).mean().sort_values(['stats_pc_intl_student'], ascending= False)
theRatioInterCount

               country  stats_pc_intl_student
13          Luxembourg              57.000000
25      United Kingdom              36.548387
9            Hong Kong              32.800000
23         Switzerland              31.428571
0            Australia              30.750000
18           Singapore              30.500000
15         New Zealand              29.000000
10             Ireland              27.000000
1              Austria              26.000000
3               Canada              22.500000
17  Russian Federation              22.000000
7               France              20.833333
2              Belgium              19.750000
14         Netherlands              19.230769
16              Norway              19.000000
26       United States              18.177419
19        South Africa              18.000000
5              Denmark              16.666667
8              Germany              15.200000
21               Spain              14.000000
22              Sweden              14.000000
6              Finland              13.000000
11               Italy              10.500000
12               Japan               9.000000
20         South Korea               9.000000
4                China               8.571429
24              Taiwan               8.000000

In [23]:
#create a dictionary country -> region from the topuniversities dataFrame because there is no region column for the THE
mapCountryToRegion = topuniversities[['country','region']].set_index('country').to_dict(orient='dict')['region']
#there is missing entry so we fill them
mapCountryToRegion['Russian Federation']='Europe'
mapCountryToRegion['Luxembourg']='Europe'

In [24]:
# 2.1  (d)  ratio of international students by country    THE 
theRatioFSRegion = theRatioFSCount.copy( )
theRatioFSRegion['region'] = theRatioFSRegion['country'].map(mapCountryToRegion)
theRatioFSRegion = theRatioFSRegion.groupby('region').mean().sort_values(['stats_student_staff_ratio'], ascending= False)
theRatioFSRegion

               stats_student_staff_ratio
region
Oceania                        23.131250
Europe                         18.279042
North America                  15.810753
Asia                           13.398810
Africa                         11.700000

In [25]:
# 2.1  (d) country ratio between faculty members and students by region    THE 
theRatioInterRegion = theRatioInterCount.copy( )
theRatioInterRegion['region'] = theRatioInterRegion['country'].map(mapCountryToRegion)
theRatioInterRegion = theRatioInterRegion.groupby('region').mean().sort_values(['stats_pc_intl_student'], ascending= False)
theRatioFSRegion

               stats_student_staff_ratio
region
Oceania                        23.131250
Europe                         18.279042
North America                  15.810753
Asia                           13.398810
Africa                         11.700000

In [26]:
#2.2 merge the dataFrames topuniversities and THE

cleanThe = the.copy()
#cleanThe['country'] = cleanThe['country'].map(lambda x : x.split('(')[0])

cleanThe ['name'] = cleanThe ['name'].map(lambda x : x.replace("’","'").replace('É' , 'E'))

cleanThe.shape

(200, 7)

In [27]:
cleanTopuniversities = topuniversities.copy()
#delete 'The ' at the begginning so that there is more match
cleanTopuniversities['name'] = cleanTopuniversities['name'].map(lambda x : x[4::] if (x[:4] == 'The ') else x.replace('É' , 'E') )
#delete the ' (###)' at the end of the name
cleanTopuniversities['name'] = cleanTopuniversities['name'].map(lambda x : x.split('(')[0][:-1] if (x[-1] == ')') else x )

#'UCL' : 'University College London'
cleanTopuniversities.loc[6,'name'] = 'University College London'
#ETH Zurich - Swiss Federal Institute of Technology -> ETH Zurich – Swiss Federal Institute of Technology Zurich 
cleanTopuniversities.loc[9,'name'] = 'ETH Zurich – Swiss Federal Institute of Technology Zurich'
#KAIST - Korea Advanced Institute of Science & Technology -> Korea Advanced Institute of Science and Technology (KAIST)
cleanTopuniversities.loc[40,'name'] = 'Korea Advanced Institute of Science and Technology (KAIST)'
#Ludwig-Maximilians-Universität München -> LMU Munich 
cleanTopuniversities.loc[65,'name'] = 'LMU Munich'
#Ruprecht-Karls-Universität Heidelberg -> Heidelberg University
cleanTopuniversities.loc[67,'name'] = 'Heidelberg University'
#Pohang University of Science And Technology -> Pohang University of Science and Technology
cleanTopuniversities.loc[71,'name'] = 'Pohang University of Science and Technology'
#University of North Carolina, Chapel Hill -> University of North Carolina at Chapel Hill 
cleanTopuniversities.loc[79,'name'] = 'University of North Carolina at Chapel Hill'
#Trinity College Dublin, The University of Dublin -> Trinity College Dublin
cleanTopuniversities.loc[87,'name'] = 'Trinity College Dublin'
#Washington University in St. Louis -> Washington University in St Louis
cleanTopuniversities.loc[99,'name'] = 'Washington University in St Louis'
#KIT, Karlsruhe Institute of Technology -> Karlsruhe Institute of Technology
cleanTopuniversities.loc[106,'name'] = 'Karlsruhe Institute of Technology'
#Sungkyunkwan University -> Sungkyunkwan University (SKKU)
cleanTopuniversities.loc[107,'name'] ='Sungkyunkwan University (SKKU)'
#Humboldt-Universität zu Berlin -> Humboldt University of Berlin
cleanTopuniversities.loc[119,'name'] ='Humboldt University of Berlin'
#Wageningen University -> Wageningen University & Research
cleanTopuniversities.loc[123,'name'] = 'Wageningen University & Research'
#Freie Universitaet Berlin -> Free University of Berlin
cleanTopuniversities.loc[124,'name'] = 'Free University of Berlin'
#Université de Montréal -> University of Montreal
cleanTopuniversities.loc[124,'name'] = 'University of Montreal'
#Université Pierre et Marie Curie -> Pierre and Marie Curie University
cleanTopuniversities.loc[130,'name'] = 'Pierre and Marie Curie University'
#Technische Universität Berlin -> Technical University of Berlin
cleanTopuniversities.loc[143,'name'] = 'Technical University of Berlin'
#Université catholique de Louvain -> Université Catholique de Louvain
cleanTopuniversities.loc[152,'name'] = 'Université Catholique de Louvain'
#Universitat de Barcelona -> Autonomous University of Barcelona
cleanTopuniversities.loc[155,'name'] = 'Autonomous University of Barcelona'
#Eberhard Karls Universität Tübingen -> University of Tübingen
cleanTopuniversities.loc[163,'name'] = 'University of Tübingen'
#Albert-Ludwigs-Universitaet Freiburg -> University of Freiburg
cleanTopuniversities.loc[170,'name'] = 'University of Freiburg'
#Vrije Universiteit Brussel -> Université Libre de Bruxelles
cleanTopuniversities.loc[181,'name'] = 'Université Libre de Bruxelles'
#Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento -> Scuola Superiore Sant'Anna
cleanTopuniversities.loc[181,'name'] = "Scuola Superiore Sant'Anna"

cleanTopuniversities.shape

(199, 8)

In [28]:
mergeUni = cleanTopuniversities.set_index('name').join(other = cleanThe.set_index('name') , how = 'outer',lsuffix='_top uni', rsuffix='_THE')
mergeUni

,rank_top uni,country_top uni,region,faculty_intl,faculty_total,student_intl,student_total_top uni,rank_THE,country_THE,stats_student_staff_ratio,stats_pc_intl_student,student_total_THE,scores_international_outlook
name,,,,,,,,,,,,,
Aalto University,137.0,Finland,Europe,370.0,1257.0,1831.0,12147.0,190.0,Finland,20.2,20.0,12744.0,72.5
Aarhus University,119.0,Denmark,Europe,602.0,2316.0,3762.0,26226.0,109.0,Denmark,14.3,12.0,25167.0,75.3
Alma Mater Studiorum - University of Bologna,188.0,Italy,Europe,153.0,2990.0,4195.0,63399.0,NaN,NaN,NaN,NaN,NaN,NaN
Arizona State University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.0,United States,20.1,19.0,44475.0,55.2
Australian National University,20.0,Australia,Oceania,927.0,1600.0,5551.0,14442.0,48.0,Australia,19.3,35.0,15986.0,94.3
Autonomous University of Barcelona,156.0,Spain,Europe,108.0,3863.0,6134.0,46002.0,147.0,Spain,12.9,16.0,32309.0,60.1
Boston University,81.0,United States,North America,379.0,3157.0,7041.0,25662.0,70.0,United States,8.6,25.0,24833.0,60.0
Brown University,53.0,United States,North America,379.0,1303.0,1825.0,9251.0,50.0,United States,10.7,20.0,8898.0,59.0
California Institute of Technology,4.0,United States,North America,350.0,953.0,647.0,2255.0,3.0,United States,6.5,27.0,2209.0,59.7
Cardiff University,137.0,United Kingdom,Europe,705.0,2755.0,6090.0,24565.0,162.0,United Kingdom,13.5,26.0,24186.0,80.6
Carnegie Mellon University,47.0,United States,North America,425.0,1342.0,6385.0,13356.0,24.0,United States,13.5,45.0,12676.0,79.1
Case Western Reserve University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.0,United States,7.1,19.0,10130.0,46.1
CentraleSupélec,177.0,France,Europe,137.0,529.0,1132.0,3877.0,NaN,NaN,NaN,NaN,NaN,NaN
Chalmers University of Technology,133.0,Sweden,Europe,336.0,1077.0,1465.0,9257.0,NaN,NaN,NaN,NaN,NaN,NaN
Charité - Universitätsmedizin Berlin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.0,Germany,16.2,18.0,6792.0,60.7
Chinese University of Hong Kong,46.0,Hong Kong,Asia,1074.0,2208.0,4824.0,18037.0,58.0,Hong Kong,17.3,31.0,18072.0,86.6
City University of Hong Kong,49.0,Hong Kong,Asia,1027.0,1349.0,3273.0,9240.0,119.0,Hong Kong,11.2,35.0,9240.0,84.4
Columbia University,18.0,United States,North America,913.0,6189.0,8105.0,25045.0,14.0,United States,6.1,32.0,26587.0,76.6
Cornell University,14.0,United States,North America,970.0,2718.0,5411.0,21904.0,19.0,United States,9.8,24.0,21850.0,69.2
Dartmouth College,169.0,United States,North America,27.0,939.0,945.0,6224.0,89.0,United States,6.6,15.0,6100.0,39.1
Delft University of Technology,54.0,Netherlands,Europe,701.0,1669.0,4634.0,16527.0,63.0,Netherlands,19.6,27.0,17057.0,88.5
Duke University,21.0,United States,North America,226.0,2938.0,2864.0,15320.0,17.0,United States,4.5,22.0,15256.0,62.5
Durham University,78.0,United Kingdom,Europe,586.0,1539.0,4690.0,16745.0,97.0,United Kingdom,14.9,29.0,16310.0,89.0
ETH Zurich – Swiss Federal Institute of Technology Zurich,10.0,Switzerland,Europe,1886.0,2477.0,7563.0,19815.0,10.0,Switzerland,14.6,38.0,19233.0,98.1
Ecole Normale Supérieure de Lyon,157.0,France,Europe,91.0,382.0,221.0,2020.0,182.0,France,8.5,13.0,2221.0,67.3
Ecole Polytechnique,59.0,France,Europe,259.0,649.0,924.0,3126.0,115.0,France,5.1,36.0,2799.0,93.4
Ecole Polytechnique Fédérale de Lausanne,12.0,Switzerland,Europe,1300.0,1695.0,5896.0,10343.0,38.0,Switzerland,11.2,55.0,9928.0,98.7
"Ecole normale supérieure, Paris",43.0,France,Europe,75.0,178.0,374.0,1907.0,NaN,NaN,NaN,NaN,NaN,NaN
Eindhoven University of Technology,104.0,Netherlands,Europe,322.0,801.0,1275.0,7636.0,141.0,Netherlands,18.6,17.0,7637.0,73.9
Emory University,147.0,United States,North America,484.0,2560.0,2154.0,12852.0,98.0,United States,4.4,19.0,12649.0,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
University of Sydney,50.0,Australia,Oceania,1829.0,3360.0,17030.0,46678.0,61.0,Australia,21.6,32.0,44553.0,84.6
University of Technology Sydney,176.0,Australia,Oceania,546.0,1328.0,7769.0,24207.0,NaN,NaN,NaN,NaN,NaN,NaN
University of Texas at Austin,67.0,United States,North America,108.0,2833.0,4744.0,47995.0,49.0,United States,17.1,10.0,48561.0,36.7
University of Tokyo,28.0,Japan,Asia,254.0,4514.0,2639.0,27279.0,46.0,Japan,6.7,10.0,26000.0,32.2
University of Toronto,31.0,Canada,North America,3905.0,9581.0,21910.0,72207.0,22.0,Canada,18.7,17.0,69427.0,80.1
University of Twente,179.0,Netherlands,Europe,299.0,910.0,2235.0,9332.0,179.0,Netherlands,12.8,27.0,6697.0,85.3
University of Tübingen,164.0,Germany,Europe,796.0,3844.0,3860.0,27366.0,94.0,Germany,38.5,13.0,27844.0,60.8
University of Vienna,154.0,Austria,Europe,1400.0,3411.0,14468.0,45967.0,165.0,Austria,20.8,26.0,35375.0,93.4
University of Virginia,173.0,United States,North America,487.0,2509.0,1899.0,21560.0,113.0,United States,9.7,12.0,24055.0,46.5
University of Warwick,57.0,United Kingdom,Europe,890.0,2093.0,7703.0,19855.0,91.0,United Kingdom,13.0,39.0,18424.0,91.9
University of Washington,61.0,United States,North America,550.0,2484.0,8373.0,56973.0,25.0,United States,11.4,16.0,44945.0,56.5
University of Waterloo,152.0,Canada,North America,473.0,1689.0,8962.0,35541.0,NaN,NaN,NaN,NaN,NaN,NaN
University of Western Australia,93.0,Australia,Oceania,809.0,1420.0,4575.0,18531.0,111.0,Australia,21.8,25.0,18787.0,91.9
University of Wisconsin-Madison,55.0,United States,North America,1151.0,5722.0,4920.0,38985.0,43.0,United States,10.7,12.0,38960.0,43.4
University of Würzburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165.0,Germany,33.9,9.0,22537.0,53.7
University of York,135.0,United Kingdom,Europe,636.0,1833.0,3364.0,15999.0,137.0,United Kingdom,15.1,27.0,14962.0,85.3
University of Zurich,73.0,Switzerland,Europe,2617.0,4997.0,5036.0,26065.0,136.0,Switzerland,5.9,20.0,26363.0,90.8
Université Catholique de Louvain,153.0,Belgium,Europe,406.0,1219.0,4468.0,24277.0,129.0,Belgium,37.8,19.0,24451.0,76.7
Université Libre de Bruxelles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175.0,Belgium,43.4,35.0,25343.0,83.2
Université de Montréal,130.0,Canada,North America,1037.0,2961.0,9688.0,39112.0,NaN,NaN,NaN,NaN,NaN,NaN
Uppsala University,112.0,Sweden,Europe,584.0,2567.0,5198.0,25371.0,86.0,Sweden,17.3,11.0,25174.0,68.8
Utrecht University,109.0,Netherlands,Europe,653.0,3067.0,2771.0,31754.0,68.0,Netherlands,15.2,7.0,31522.0,59.6
Vanderbilt University,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.0,United States,3.3,13.0,12011.0,38.9
Vienna University of Technology,182.0,Austria,Europe,172.0,706.0,5199.0,17479.0,NaN,NaN,NaN,NaN,NaN,NaN
Vrije Universiteit Amsterdam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165.0,Netherlands,18.1,7.0,24554.0,60.7
Wageningen University & Research,124.0,Netherlands,Europe,323.0,2277.0,3613.0,12695.0,64.0,Netherlands,19.7,29.0,12326.0,80.6
Washington University in St Louis,100.0,United States,North America,784.0,2699.0,2706.0,13474.0,50.0,United States,7.5,17.0,12600.0,52.1
Yale University,16.0,United States,North America,1708.0,4940.0,2469.0,12402.0,12.0,United States,4.3,21.0,12155.0,64.6
Yonsei University,106.0,South Korea,Asia,290.0,3621.0,3379.0,25903.0,NaN,NaN,NaN,NaN,NaN,NaN
Zhejiang University,87.0,China,Asia,1913.0,4507.0,4625.0,40869.0,177.0,China,14.1,6.0,50051.0,25.2

In [29]:
listOkay = mergeUni.index.values.tolist()


iterTopuniversities = cleanTopuniversities.iterrows()


for itTop in iterTopuniversities :
    iterTheClassment = cleanThe.iterrows()
    topname = itTop[1]['name']
    splittopname = topname.split(' ')
    if ( not topname in listOkay) :
        for iterThe in iterTheClassment :
            thename = iterThe[1]['name']
            splitthename = thename.split(' ')
            if ((not thename in listOkay )and iterThe[1]['country']== itTop[1]['country'] ) :
                print(itTop[0],topname,"->",thename,'|')